.color--barranav {
  background-color: rgb(180, 196, 196);
}

.color--contenedor {
  background-color: rgb(180, 196, 196);
}

.color--pie_pag {
  background-color: rgb(172, 171, 171);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

#grilla {
  display: grid;
  grid-template-areas: "seccion_logo    seccion_logo" "principal   principal" "eventos    publicidad" "pie_de_pag  pie_de_pag";
  grid-template-columns: 80% 20%;
  grid-template-rows: auto auto auto auto;
}

#seccion_logo {
  grid-area: seccion_logo;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  border-bottom: solid 10px white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#principal {
  grid-area: principal;
}
#principal #eventos {
  grid-area: eventos;
}
#principal #publicidad {
  grid-area: publicidad;
  justify-content: center;
  align-items: center;
  border-bottom: solid 10px white;
  display: grid;
}
#principal #pie_de_pag {
  grid-area: pie_de_pag;
  background-color: rgb(172, 171, 171);
}
#principal #grilla_nosotros {
  display: grid;
  grid-template-areas: "seccion_logo  seccion_logo" "main_nosotros  main_nosotros" "pie_de_pag pie_de_pag";
  grid-template-columns: 15% 85%;
  grid-template-rows: auto auto auto;
}
#principal #grilla_contactanos {
  display: grid;
  grid-template-areas: "seccion_logo  seccion_logo" "main_contactanos  main_contactanos" "pie_de_pag pie_de_pag";
  grid-template-columns: 15% 85%;
  grid-template-rows: auto auto auto;
}
#principal #grid_nosotros {
  grid-area: main_nosotros;
}
#principal #grid_contactanos {
  grid-area: main_contactanos;
}
#principal #grilla_productos {
  display: grid;
  grid-template-areas: "seccion_logo  seccion_logo" "main_productos main_productos" "pie_de_pag pie_de_pag";
  grid-template-columns: 15% 85%;
  grid-template-rows: auto auto auto;
}
#principal #grid_productos {
  grid-area: main_productos;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrusel {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin-top: 20px;
}

.card_index {
  padding: 20px;
  border: solid 10px white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  overflow: auto;
}
.card_index_title {
  color: rgb(90, 85, 85);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 2px 20px 20px 20px;
}
.card_index_card_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card_index_texto {
  text-align: center;
  padding-top: 15px;
}

.card__title--colorsize {
  color: rgb(90, 85, 85);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 2px 20px 20px 20px;
}

.contenedorimg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gatorade {
  width: 90%;
  PADDING: 10px;
}

.contenedornav2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.card_nosotros {
  padding: 20px;
  border: solid 10px white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  overflow: auto;
}
.card_nosotros_title {
  color: rgb(90, 85, 85);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 2px 20px 20px 20px;
}
.card_nosotros_contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card_nosotros_contenedor_texto {
  width: 40%;
}
.card_nosotros_contenedor_foto {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.content1 {
  padding: 20px;
  border: solid 10px white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  overflow: auto;
}
.content1_title {
  color: rgb(90, 85, 85);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 2px 20px 20px 20px;
}
.content1_espacio {
  padding: 10px;
}

.card_prod {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-top: 20px solid white;
}
.card_prod_tipo_prod {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-wrap: nowrap;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}
.card_prod_tipo_prod_title {
  color: rgb(90, 85, 85);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.card_prod2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.card_prod2_tipo_prod {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}
.card_prod2_tipo_prod_fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  padding-bottom: 30px;
  background-color: rgb(180, 196, 196);
}

.calzas1 {
  display: flex;
  flex-wrap: nowrap;
  border-top: 20px solid white;
  align-items: center;
  justify-content: center;
}

.cardscalzas {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(180, 196, 196);
  overflow: auto;
}

.calzas2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.content3 {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(180, 196, 196);
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  overflow: auto;
}

footer {
  border-top: 10px solid white;
}

@media screen and (max-width: 1023px) {
  #grilla {
    display: grid;
    grid-template-areas: "seccion_logo seccion_logo" "principal  principal" "eventos eventos" "publicidad  publicidad" "pie_de_pag  pie_de_pag";
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto auto auto;
  }
  #grilla_nosotros {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  #grilla_productos {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  #seccion_nav {
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .contenedorfotoprod {
    width: 100%;
  }
  .contenedortextoprod {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .imgchica2 {
    width: 90%;
  }
  .card_nosotros_contenedor {
    justify-content: center;
    align-items: center;
  }
  .card_nosotros_contenedor_foto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card_nosotros_contenedor_texto {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .texto2 {
    text-align: center;
  }
  .navegacion li a {
    padding: 8px;
    margin: 3px;
  }
}
@media screen and (max-width: 600px) {
  #seccion_logo {
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100px;
    padding: 5px;
  }
  .navegacion li a {
    font-size: 15px;
  }
  #seccion_nav {
    justify-content: center;
    align-items: center;
  }
  .imgchica5 {
    width: 90%;
  }
  #grilla_nosotros {
    display: grid;
    grid-template-areas: "seccion_logo" "seccion_nav" "main_nosotros" "pie_de_pag";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }
  #grilla_productos {
    display: grid;
    grid-template-areas: "seccion_logo" "seccion_nav" "main_productos" "pie_de_pag";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }
  .imgchica4 {
    width: 90%;
  }
  .card_nosotros {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content1 {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 25px;
    padding: 15px;
  }
  .carrusel {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  #seccion_logo {
    justify-content: center;
    align-items: center;
  }
  #grilla_nosotros {
    grid-template-rows: auto auto auto auto;
  }
  #grilla_productos {
    grid-template-rows: auto auto auto auto;
  }
  .logo {
    width: 100px;
    padding: 5px;
  }
  .navegacion li a {
    padding: 3px;
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
    padding: 20px;
  }
  .content1 {
    padding: 10px;
    background-color: rgb(180, 196, 196);
    border: solid 10px white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: auto;
  }
  .card_nosotros {
    padding: 10px;
    background-color: rgb(180, 196, 196);
    border: solid 10px white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
  }
  .imgchica5 {
    width: 90%;
  }
  .contenedornos {
    justify-content: center;
    align-items: center;
  }
  .nosotrosfoto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nosotrostexto {
    width: 90%;
  }
  .imgchica4 {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .navegacion li a {
    margin: 1px;
    padding: 1px;
    font-size: 12px;
  }
}
.logo {
  width: 120px;
  border-radius: 50%;
}

.img1 {
  width: 100%;
}

.imgchica5 {
  width: 200px;
}

.imgchica5:hover {
  transform: rotatez(10deg);
}

.imgchica4 {
  width: 90%;
}

.imagennosotros {
  width: 90%;
}

.bordesredondeados {
  border-radius: 3%;
}

h1 {
  color: rgb(62, 61, 61);
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(156, 155, 155);
  text-align: center;
  padding: 30px;
}

.derechos {
  text-align: center;
  padding-bottom: 10px;
}

.texto2 {
  width: 90%;
  text-align: center;
}

.titulo_art {
  color: rgb(62, 61, 61);
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(156, 155, 155);
  text-align: center;
  padding: 30px;
}

.irarriba a {
  color: rgb(4, 4, 66);
  text-decoration: none;
}

.botonnav {
  text-decoration: none;
  background-color: rgb(13, 13, 75);
  padding: 10px;
  color: white;
  border-radius: 5%;
  margin: 5px;
}

.botonnav:hover {
  background-color: rgb(115, 115, 214);
  color: white;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
  margin: 23px;
}

ul li:hover ul {
  display: block;
  margin: 0px;
}/*# sourceMappingURL=main.css.map */