.carrusel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top:20px;;
}
.card_index{
    padding:20px;
    background-color: $secondary;
    border: solid 10px white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:20px;
    overflow: auto;
    
    &_title{
        color:$color_adicional;
        font-weight:bold;
        font-size:30px;
        text-align:center;
        padding:2px 20px 20px 20px;
    }
    &_card_img{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    }

.content1{
    padding:20px;
    background-color: $secondary;
    border: solid 10px white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:20px;
    overflow: auto;
    }
.card__title--colorsize{
        color:$color_adicional;
        font-weight:bold;
        font-size:30px;
        text-align:center;
        padding:2px 20px 20px 20px;
    }
.contenedorimg{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

.gatorade{
        width: 90%;
        PADDING:10px;
    }

.contenedornav2{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
.contenedornos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
.nosotrostexto{
        width: 40%;
        
    }
.nosotrosfoto{
        width:60%;
        display: flex;
        flex-wrap: wrap;
    }

.card_prod{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-top: 20px solid white;   

    &_tipo_prod{
            display: flex;
            justify-content: center;
            width: 90%;
            align-items: center;
            flex-wrap: nowrap;
            padding-left: 30px;
            padding-right: 30px;
            background-color: $secondary;
            overflow: auto;
        &_title{
                color:$color_adicional;
                font-weight:bold;
                font-size:30px;
                text-align:center;
                padding:2px 20px 20px 20px;
            }
        }    
    }
    .calzas1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        border-top: 20px solid white;   
        
    }
    .cardscalzas{
        display: flex;
        justify-content: center;
        width: 90%;
        align-items: center;
        flex-wrap: nowrap;
        padding-left: 30px;
        padding-right: 30px;
        background-color: $secondary;
        overflow: auto;
    }
    .calzas2{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }
    .calzasfoto{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 30px;
        background-color: $secondary;
    
    }
.content3{
        padding-top:20px;
        padding-right:20px;
        padding-left:20px;
        background-color: $secondary;
        padding-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top:20px;
        
        overflow: auto;
        }
.espaciocontactanos{
            padding:10px;
        }
        footer{
            background-color: $primary;
            border-top: 30px solid white;
            }
    