
.carrusel {
    display: flex;
    flex-wrap: nowrap;
    @include alinear_centrar;
    width: 60%;
    margin-top: 20px;
    ;
}
.card__title--colorsize {
    color: $color_adicional;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 2px 20px 20px 20px;
}
.card_index {
    padding: 20px;
    border: solid 10px $blanco;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    overflow: auto;
    &_title {
        @extend .card__title--colorsize;
    }
    &_card_img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &_texto {
        text-align: center;
        padding-top: 15px;
    }
}
.contenedorimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gatorade {
    width: 90%;
    PADDING: 10px;
}
.contenedornav2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.card_nosotros {
    padding: 20px;
    border: solid 10px $blanco;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    overflow: auto;
    &_title {
        @extend .card__title--colorsize;
    }
    &_contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &_texto {
            width: 40%;
        }
        &_foto {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.content1 {
    @extend .card_nosotros;
    &_title {
        @extend .card__title--colorsize;
    }
    &_espacio {
        padding: 10px;
    }
}
.card_prod {
    display: flex;
    flex-wrap: nowrap;
    @include alinear_centrar;
    border-top: 20px solid $blanco;
    &_tipo_prod {
        display: flex;
        @include alinear_centrar;
        width: 90%;
        flex-wrap: nowrap;
        padding-left: 30px;
        padding-right: 30px;
        overflow: auto;
        &_title {
            @extend .card__title--colorsize;
            padding: 20px;
        }
    }
}
.card_prod2 {
    display: flex;
    flex-wrap: nowrap;
    @include alinear_centrar;
    &_tipo_prod {
        display: flex;
        width: 90%;
        @include alinear_centrar;
        flex-wrap: nowrap;
        padding-left: 30px;
        padding-right: 30px;
        overflow: auto;
        &_fotos {
            display: flex;
            @include alinear_centrar;
            width: 100%;
            flex-wrap: nowrap;
            padding-bottom: 30px;
            background-color: $secondary;
        }
    }
}
.content3 {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $secondary;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    overflow: auto;
}
footer {
    border-top: 10px solid $blanco;
}