.logo{
    width: 120px;
     
     border-radius: 50%;
}
.img1{
    width:100%;
}
.imgchica5{
    width: 200px;
    
}
.imgchica5:hover
{
    transform: rotatez(10deg);
}
.imgchica4{
    width:90%;
}
.imagennosotros{
    width: 90%;
}
.bordesredondeados{
    border-radius:$bordesredondeados;
}