#grilla{
    display: grid;
    grid-template-areas: "seccion_logo    seccion_logo"
                        "principal   principal"
                        "eventos    publicidad"
                        "pie_de_pag  pie_de_pag";
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto auto;
}
#seccion_logo{
    grid-area: seccion_logo;
    background-color: rgb(180, 196, 196);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    border-bottom: solid 10px white;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#principal{
    grid-area: principal;
    
}
#eventos{
    grid-area: eventos;
    
}
#publicidad{
    grid-area: publicidad;
    align-items: center;
    justify-content: center;
    border-bottom: solid 10px white;
    display: grid;
}
#pie_de_pag{
    grid-area: pie_de_pag;
    background-color: rgb(172, 171, 171);
}
#grilla_nosotros{
    display: grid;
    grid-template-areas: "seccion_logo  seccion_logo"
                        "main_nosotros  main_nosotros"
                        "pie_de_pag pie_de_pag";
    grid-template-columns: 15% 85%;
    grid-template-rows: auto auto auto;
}
#grilla_nosotros2{
    display: grid;
    grid-template-areas: "seccion_logo  seccion_logo"
                        "main_nosotros  main_nosotros"
                        "pie_de_pag pie_de_pag";
    grid-template-columns: 15% 85%;
    grid-template-rows: auto auto auto;
}
#grid_nosotros{
grid-area: main_nosotros;

}
#grilla_productos{
    display: grid;
    grid-template-areas: "seccion_logo  seccion_logo"
                        "main_productos main_productos"
                        
                        "pie_de_pag pie_de_pag";
    grid-template-columns: 15% 85%;
    grid-template-rows: auto auto auto;
}

#grid_productos{
    grid-area: main_productos;
        
    }