h1 {
    color:rgb(62, 61, 61);
    font-weight:bold;
    font-size:40px;
    background-color: $titulo;
    text-align:center;
    padding:30px;
    }

.derechos{
        text-align: center;
        padding-bottom:10px;
    }
.texto2{
        width: 90%;
        text-align: center;
    }
.titulo_art{
        color:rgb(62, 61, 61);
        font-weight:bold;
        font-size:40px;
        background-color: rgb(156, 155, 155);
        text-align:center;
        padding:30px;
    }
.irarriba a{
        color:rgb(4, 4, 66);
        text-decoration: none;
}